// general

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  transition: 1s;
}

// colors

$color-white: #ffffff;
$color-yellow-light: #ffe680;
$color-yellow-dark: #ffdd55;
$color-green-light: #00d4aa;
$color-green-dark: #00aa88;
$color-violet: #7137c8;
$color-black: #1a1a1a;

// header

.header {
  display: flex;
  align-items: center;
  min-height: 100px;
  background-color: $color-green-light;
  margin: auto;
  margin-bottom: 30px;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 20px;

    @media (max-width: 320px) {
    }
  }

  &-list {
    max-width: 650px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 870px) {
      display: none;
    }

    &_item {
    }

    &_link {
      color: $color-white;
      font-size: 17px;

      &:hover {
        color: $color-violet;
      }
    }
  }

  &-button {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
  }

  &-lang {
    width: 50px;
    height: 50px;
  }
}

.logo {
  &-container {
    width: 200px;
  }

  &-image {
    width: 200px;
  }
}

// section

.section {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // max-width: 300px;
  margin: auto;
  margin-bottom: 35px;
  padding: 15px;

  &-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 35px;
    padding: 15px;
  }
}

.title {
  font-size: 60px;
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
  color: $color-violet;

  @media (max-width: 768px) {
    font-size: 40px;
  }

  @media (max-width: 320px) {
    font-size: 25px;
  }

  &-green {
    color: $color-green-dark;
  }
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  color: $color-yellow-dark;
  text-align: center;
}

.text {
  font-size: 23px;
  line-height: 30px;
  text-indent: 30px;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    text-align: justify;
    font-size: 18px;
    text-indent: 20px;
  }

  @media (max-width: 320px) {
    text-align: justify;
    font-size: 15px;
    text-indent: 10px;
  }
}

.list {
  max-width: 1000px;
  width: 100%;
  margin-bottom: 15px;

  &-item {
    max-width: 1000px;
    width: 100%;

    @media (max-width: 768px) {
      max-width: 300px;
      margin-left: 10px;
      margin-bottom: 15px;
    }
    
    &:before {
      color: $color-violet;
      content: "•";
      padding-right: 10px;
    }

    &-title {
    }
  }
}

.button {
  width: 200px;
  height: 60px;
  border: none;
  background-color: $color-yellow-dark;
  color: $color-violet;
  font-size: 18px;
  transition: 1s;

  &:hover {
    background-color: $color-violet;
    color: $color-yellow-dark;
    cursor: pointer;
  }

  @media (max-width: 320px) {
    width: 170px;
    height: 40px;
    border: none;
    font-size: 13px;
  }

  &-container {
    margin: 50px 0;
    display: flex;
    justify-content: center;
  }
}

.video {
  margin-bottom: 25px;
  margin: auto;
}

//  section main

.section-main {
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  min-height: 500px;
  margin: auto;

  @media (max-width: 600px) {
    flex-direction: column;
    min-height: 300px;
  }
}

.block-main {
  width: 40%;

  @media (max-width: 600px) {
    width: 100%;
  }

  &_schedule {
    @media (max-width: 600px) {
      display: none;
    }
  }
}

.block-main_subtitle {
  font-size: 40px;
  text-align: center;
  color: $color-yellow-dark;
  margin-top: 20px;

  @media (max-width: 320px) {
    font-size: 16px;
    color: $color-violet;
  }
}

.title-main {
  font-size: 70px;

  @media (max-width: 600px) {
    font-size: 40px;
  }

  @media (max-width: 320px) {
    font-size: 30px;
  }
}

.subtitle-main {
  font-size: 30px;
  margin-bottom: 100px;

  @media (max-width: 600px) {
    font-size: 20px;
    margin-bottom: 50px;
  }

  @media (max-width: 320px) {
    font-size: 15px;
    margin-bottom: 30px;
  }
}

// description

.section-description {
  width: 100%;
  padding: 50px 25px;
  background-color: $color-yellow-light;

  @media (max-width: 320px) {
    padding-bottom: 25px;
  }

  &_container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
  }
}

.title-description {
  color: $color-green-dark;
}

.block-description {
  margin-bottom: 30px;
}

.button-violet {
  background-color: $color-violet;
  color: $color-yellow-dark;
  transition: 1s;

  &:hover {
    background-color: $color-yellow-light;
    border: $color-violet solid 2px;
    color: $color-violet;
  }
}

// uniqueness

.section-uniqueness {
  max-width: 1000px;
  margin: auto;
}

.block-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 60px;

  &-item {
    max-width: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &-text {
    max-width: 240px;
    font-size: 17px;
    text-align: center;
  }

  &-container_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: $color-yellow-dark;
    margin-bottom: 25px;
  }

  &-image {
    width: 40px;
    height: 40px;
  
    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }

  &-button {
    background: none;
    border: $color-yellow-dark solid 2px;
    color: $color-black;
    transition: 1s;

    &:hover {
      background-color: $color-yellow-dark;
      color: $color-black;
      cursor: pointer;
    }
  }
}

.item-uniqueness_inactive {
  display: none;
}

.button-uniqueness-active {
  background-color: $color-yellow-dark;

  &:hover {
    background: none;
    cursor: pointer;
  }
}

// obtaining

.section-obtaining {
  background-color: $color-yellow-light;
}

.title-obtaining {
  color: $color-green-dark;
}

.block-obtaining-button {
  background-color: $color-white;
  color: $color-black;
  border: $color-green-dark solid 2px;
  transition: 1s;

  &:hover {
    background-color: $color-green-dark;
    cursor: pointer;
  }
}

.button-obtaining-active {
  background-color: $color-green-dark;

  &:hover {
    background: $color-white;
    cursor: pointer;
  }
}

// .container_image-obtaining {
//   background-color: $color-white;
// }

.item-obtaining {
  height: 243px;
  background: $color-white;
  border: $color-green-dark solid 4px;
  border-radius: 10px;
  padding: 10px
}

.item-obtaining_inactive {
  display: none;
}


// project

.section-project {
  background-color: $color-yellow-light;
}

.title-project {
  color: $color-green-dark;
}

// section joining

.item-joining {
  
  background: $color-white;
  border: $color-yellow-dark solid 4px;
  border-radius: 10px;
  padding: 10px
}

// who

.section-who {
  background-color: $color-yellow-light;
}

.item-who {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 108px;
  background: $color-white;
  border: $color-green-dark solid 4px;
  border-radius: 10px;
  padding: 10px
}

// price

.section-price {
  background-color: $color-yellow-light;
}

// content

.list-content {
  &_item {
    list-style-type: none;
    margin-bottom: 20px;

    &-container {
      display: flex;
      margin-bottom: 15px;
    }
  }

  &_video {
    // display: none;
  }

  &_button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    margin-right: 15px;
    cursor: pointer;

    &-image {
      width: 30px;
      height: 30px;
    }
  }
}

// contact

.section-contact {
  background-color: $color-yellow-light;
  margin-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 280px;
  height: 30px;
  margin-bottom: 10px;
  padding: 0 10px;
  background: none;
}

.textarea {
  width: 280px;
  margin-bottom: 15px;
  padding: 10px;
  background: none;
}

// footer

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 15px;
  background-color: $color-green-light;

  &-link {
  }

  &-container_image {
    border-radius: 30px;
  }

  &-image {
    width: 45px;
    height: 45px;
  }
}
