@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  transition: 1s;
}

.modal_wrap {
  display: none;
  background-color: #000000;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  position: fixed;
  z-index: 4;
}

.modal_wrap-active {
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 0 10px;
  background-color: #00d4aa;
  margin: auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.header-list {
  max-width: 650px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 870px) {
  .header-list {
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
  }
}
.header-list_link {
  font-family: Open Sans Condensed;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.06em;
  transition: 0.5s;
}
.header-list_link:hover {
  color: #7137c8;
}
.header-list_link:active {
  color: #7137c8;
}
.header-button_line {
  height: 2px;
  width: 30px;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.header-button_line:last-child {
  margin-bottom: 0;
}
.header-burger_menu {
  max-width: 650px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}
@media (max-width: 870px) {
  .header-burger_menu {
    display: flex;
    align-items: stretch;
    width: 100%;
    padding: 30px 20px;
    background: #00d4aa;
    position: fixed;
    right: 0;
    top: -100%;
    z-index: 5;
    transition: all 1s ease 0s;
  }
}
.header-button {
  display: none;
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  transition: all 1s;
}
@media (max-width: 870px) {
  .header-button {
    display: block;
    z-index: 6;
  }
}
.header-lang {
  width: 50px;
  height: 50px;
}

.burger_menu-active {
  top: 0;
}

.button-active {
  transform: rotate(90deg);
}

.logo-container {
  width: 200px;
}
.logo-image {
  width: 200px;
}

.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 35px;
  padding: 15px;
}
.section-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 35px;
  padding: 15px;
}

.title {
  font-size: 60px;
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
  color: #7137c8;
}
@media (max-width: 768px) {
  .title {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
.title-green {
  color: #00aa88;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #ffdd55;
  text-align: center;
}

.text {
  font-size: 23px;
  line-height: 30px;
  text-indent: 30px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .text {
    text-align: justify;
    font-size: 18px;
    text-indent: 20px;
  }
}
@media (max-width: 320px) {
  .text {
    text-align: justify;
    font-size: 15px;
    text-indent: 10px;
  }
}

.list {
  max-width: 1200px;
  width: 100%;
  margin-bottom: 15px;
}
.list-item {
  max-width: 1200px;
  width: 100%;
}
@media (max-width: 768px) {
  .list-item {
    max-width: 300px;
    margin-left: 10px;
    margin-bottom: 15px;
  }
}
.list-item:before {
  color: #7137c8;
  content: "•";
  padding-right: 10px;
}
.button {
  width: 200px;
  height: 60px;
  border: none;
  background-color: #ffdd55;
  color: #7137c8;
  font-size: 18px;
  transition: 1s;
}
.button:hover {
  background-color: #7137c8;
  color: #ffdd55;
  cursor: pointer;
}
@media (max-width: 320px) {
  .button {
    width: 170px;
    height: 40px;
    border: none;
    font-size: 13px;
  }
}
.button-container {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.video {
  margin-bottom: 25px;
  margin: auto;
}

.section-main {
  background: url(../assets/images/background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  height: 100%;
  margin: auto;
  position: relative;
  padding: 0;
  z-index: 2;
}
.section-main::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffe680;
  opacity: 0.1;
  display: block;
  position: absolute;
}
@media (max-width: 600px) {
  .section-main {
    flex-direction: column;
    min-height: 300px;
  }
}
.section-main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  min-height: 500px;
  height: 100%;
  margin: auto;
}
@media (max-width: 600px) {
  .section-main_container {
    min-height: 250px;
  }
}
.section-main_link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans Condensed;
}

.block-main {
  width: 40%;
  z-index: 3;
}
@media (max-width: 600px) {
  .block-main {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .block-main_schedule {
    display: none;
  }
}

.block-main_subtitle {
  font-size: 40px;
  text-align: center;
  color: #ffdd55;
  margin-top: 20px;
}
@media (max-width: 320px) {
  .block-main_subtitle {
    font-size: 16px;
    color: #7137c8;
  }
}

.title-main {
  font-size: 70px;
  color: #ffdd55;
}
@media (max-width: 600px) {
  .title-main {
    font-size: 40px;
  }
}
@media (max-width: 320px) {
  .title-main {
    font-size: 30px;
  }
}

.subtitle-main {
  font-size: 30px;
  margin-bottom: 100px;
  color: #ffffff;
}
@media (max-width: 600px) {
  .subtitle-main {
    font-size: 20px;
    margin-bottom: 50px;
  }
}
@media (max-width: 320px) {
  .subtitle-main {
    font-size: 15px;
    margin-bottom: 30px;
  }
}

.section-description {
  width: 100%;
  padding: 50px 25px;
  background-color: #ffe680;
}
@media (max-width: 320px) {
  .section-description {
    padding-bottom: 25px;
  }
}
.section-description_container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.title-description {
  color: #00aa88;
}

.block-description {
  width: 49%;
}
@media (max-width: 1024px) {
  .block-description {
    width: 100%;
    margin-bottom: 20px;
  }
}
.block-description_subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.block-description_text {
  font-size: 20px;
  margin-bottom: 7px;
}
@media (max-width: 1024px) {
  .block-description_text {
    text-align: justify;
  }
}
.block-description_container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .block-description_container {
    flex-direction: column;
  }
}
.block-description_container-image {
  width: 49%;
}
@media (max-width: 1024px) {
  .block-description_container-image {
    width: 95%;
    margin: auto;
  }
}
.block-description_image {
  max-width: 600px;
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .block-description_image {
    max-width: 100%;
  }
}

.button-violet {
  background-color: #7137c8;
  color: #ffdd55;
  transition: 1s;
}
.button-violet:hover {
  background-color: #ffe680;
  border: #7137c8 solid 2px;
  color: #7137c8;
}

.section-uniqueness {
  max-width: 1200px;
  margin: auto;
}

.block-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 50px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.block-list-item {
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .block-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
.block-list-text {
  max-width: 240px;
  font-size: 17px;
  text-align: center;
}
.block-list-container_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: #ffdd55;
  margin-bottom: 25px;
}
.block-list-image {
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  .block-list-image {
    width: 40px;
    height: 40px;
  }
}
.block-list-button {
  background: none;
  border: #ffdd55 solid 2px;
  color: #1a1a1a;
  transition: 1s;
}
.block-list-button:hover {
  background-color: #ffdd55;
  color: #1a1a1a;
  cursor: pointer;
}

.item-uniqueness_inactive {
  display: none;
}

.button-uniqueness-active {
  background-color: #ffdd55;
}
.button-uniqueness-active:hover {
  background: none;
  cursor: pointer;
}

.section-obtaining {
  background-color: #ffe680;
}

.title-obtaining {
  color: #00aa88;
}

.block-obtaining-button {
  background-color: #ffffff;
  color: #1a1a1a;
  border: #00aa88 solid 2px;
  transition: 1s;
}
.block-obtaining-button:hover {
  background-color: #00aa88;
  cursor: pointer;
}

.button-obtaining-active {
  background-color: #00aa88;
}
.button-obtaining-active:hover {
  background: #ffffff;
  color: #00aa88;
  cursor: pointer;
}

.item-obtaining {
  height: 243px;
  background: #ffffff;
  border: #00aa88 solid 4px;
  border-radius: 10px;
  padding: 10px;
}

.item-obtaining_inactive {
  display: none;
}

.section-surliness {
  max-width: 1200px;
}

.slider {
  display: flex;
  align-items: center;
  max-width: 1200px;
  min-height: 300px;
  margin: auto;
}
@media (max-width: 700px) {
  .slider {
    max-width: 700px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.slider-content {
  text-align: center;
}
@media (max-width: 700px) {
  .slider-content {
    max-width: 700px;
    min-height: 200px;
    order: 1;
    margin-bottom: 30px;
  }
}
.slider-button-img {
  width: 30px;
  height: 30px;
}
@media (max-width: 700px) {
  .slider-button-img {
    width: 25px;
    height: 25px;
  }
}
.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: none;
  border: #ffe680 solid 3px;
  margin: 15px;
  border-radius: 50px;
  background-color: #ffe680;
  transition: 1s;
}
.slider-btn:hover {
  background-color: white;
  cursor: pointer;
}
@media (max-width: 700px) {
  .slider-btn {
    margin: 10px;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 700px) {
  .slider-button-prev {
    order: 2;
  }
}
@media (max-width: 700px) {
  .slider-button-next {
    order: 3;
  }
}
.slider-container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  min-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  margin-bottom: 25px;
}
@media (max-width: 1150px) {
  .slider-container-image {
    max-width: 1000px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .slider-container-image {
    min-height: 150px;
  }
}
.slider-image {
  width: 100%;
}
.slider-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .slider-title {
    font-size: 17px;
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .slider-title {
    font-size: 15px;
  }
}
.slider-text {
  max-width: 900px;
  font-size: 19px;
  min-height: 45px;
}
@media (max-width: 500px) {
  .slider-text {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .slider-text {
    font-size: 15px;
  }
}

.section-project {
  background-color: #ffe680;
}

.title-project {
  color: #00aa88;
}

.item-joining {
  background: #ffffff;
  border: #ffdd55 solid 4px;
  border-radius: 10px;
  padding: 10px;
}

.section-who {
  background-color: #ffe680;
}

.item-who {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 108px;
  background: #ffffff;
  border: #00aa88 solid 4px;
  border-radius: 10px;
  padding: 10px;
}

.section-price {
  background-color: #ffe680;
}

.section-author {
  max-width: 1200px;
}

.block-author {
  width: 40%;
}
@media (max-width: 1024px) {
  .block-author {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
  }
}
.block-author_content {
  width: 57%;
}
@media (max-width: 1024px) {
  .block-author_content {
    width: 95%;
    margin: auto;
  }
}
.block-author_container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .block-author_container {
    flex-direction: column;
  }
}
.block-author_text {
  font-size: 19px;
  margin-bottom: 0px;
  line-height: 25px;
  margin-bottom: 0;
  text-align: justify;
}
@media (max-width: 1024px) {
  .block-author_text {
    font-size: 17px;
  }
}
.block-author_image {
  width: 100%;
  margin-right: 10px;
}

.section-content {
  max-width: 1200px;
}

.subtitle-content {
  font-size: 40px;
  text-align: center;
  color: #ffdd55;
  margin-bottom: 20px;
}
@media (max-width: 320px) {
  .subtitle-content {
    font-size: 16px;
    color: #7137c8;
  }
}

.list-content_item {
  list-style-type: none;
  margin-bottom: 20px;
}
.list-content_item-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 30px;
}
.list-content_video {
  display: flex;
  justify-content: center;
}
.list-content_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  background-color: #ffe680;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
.list-content_button-image {
  width: 30px;
  height: 30px;
}

.text-content {
  text-indent: 0px;
  margin-bottom: 0;
  font-size: 18px;
}
@media (max-width: 700px) {
  .text-content {
    line-height: 17px;
    font-size: 15px;
  }
}

.frame {
  max-width: 1000px;
  width: 100%;
  height: 650px;
}

.tabs__items {
  display: flex;
}

.tabs__item {
  width: 33.33%;
  text-align: center;
  border: none;
  border-bottom: solid #ffdd55 1px;
  transition: 1s;
  min-height: 50px;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: none;
  font-weight: 400px;
  color: #7137c8;
}
.tabs__item:hover {
  background-color: #ffe680;
  cursor: pointer;
}

.tabs__body {
  height: 100%;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 10px 0;
}

.tabs__block {
  display: none;
}
.tabs__block-active {
  display: block;
}

.section-contact {
  background-color: #ffe680;
  margin-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 600px;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 10px;
  background-color: #ffffff;
  border: #7137c8 solid 3px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .input {
    width: 280px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
  }
}

.textarea {
  width: 600px;
  height: 300px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ffffff;
  border: #7137c8 solid 3px;
  font-size: 20px;
  resize: none;
}
@media (max-width: 768px) {
  .textarea {
    width: 280px;
    height: 200px;
    font-size: 15px;
  }
}

.footer {
  background-color: #00d4aa;
  display: flex;
  min-height: 100px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    min-height: 200px;
    padding: 20px 0;
  }
}
.footer-text {
  margin-right: 5px;
  font-size: 20px;
  color: #7137c8;
  font-family: "Open Sans Condensed";
}
.footer-content {
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer_container-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  width: 100%;
}
@media (max-width: 700px) {
  .footer_container-link {
    margin: 25px 0 35px;
  }
}
.footer-link {
  font-size: 20px;
  color: #7137c8;
  margin: 0 2px;
  font-family: "Open Sans Condensed";
}
.footer-container_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #ffe680;
  border-radius: 30px;
}
.footer-image {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */