// general

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  transition: 1s;
}

// colors 

$color-white: #FFFFFF;
$color-yellow-light: #FFE680;
$color-yellow-dark: #FFDD55;
$color-green-light: #00D4AA;
$color-green-dark: #00AA88;
$color-violet: #7137C8;
$color-black: #1A1A1A;

// header 

.header {
  display: flex;
  align-items: center;
  max-width: 320px;
  min-height: 100px;
  background-color: $color-green-light;
  margin: auto;
  margin-bottom: 30px;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }

  &-button {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
  }
}

.logo {
  &-container {
    width: 200px;
  }

  &-image {
    width: 200px;
  }
}

// section main

.section {
  display: flex;
  flex-direction: column;
  // align-items: center;
  max-width: 300px;
  margin: auto;
  margin-bottom: 35px;
}

.title {
  font-size: 28px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  color: $color-violet;
}

.subtitle {
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 15px;
  color: $color-yellow-dark;
  text-align: center;
}

.text {
  margin-bottom: 25px;
  text-align: justify;
}

.list {
  max-width: 300px;
  margin-bottom: 25px;

  &-item {
    max-width: 300px;
    margin-left: 30px;
    margin-bottom: 15px;

    &:before {
      color: $color-violet;
      content: "•";
      padding-right: 10px;
    }
  }
}

.button {
  width: 170px;
  height: 40px;
  border: none;
  // border-radius: 15px;
  background-color: $color-yellow-dark;
  color: $color-violet;
}

.video {
  margin-bottom: 25px;
}

// block main 

.block-main_button {
  display: flex;
  justify-content: center;
}

.block-main_text {
  text-align: center;
  color: $color-violet;
}

// description

.block-description-text {
  text-align: left;
}

// uniqueness

.block-uniqueness {
  display: flex;
  flex-wrap: wrap;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

.block-uniqueness-image {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

// obtaining

.list-obtaining {

  &_item {
    max-width: 290px;
    width: 100%;
    list-style-type: none;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: #E8EDFB;
    padding: 10px;
  }
}

// content

.list-content {

  &_item {
    list-style-type: none;
    margin-bottom: 20px;

    &-container {
      display: flex;
      margin-bottom: 15px;
    }
  }

  &_video {
    // display: none;
  }


  &_button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    
    &-image {
      width: 30px;
      height: 30px;
    }
  }
}

// form

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 280px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.textarea {
  width: 280px;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

// footer

.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  &-link {

  }
  
  &-container_image {
    border-radius: 30px;
  }
  
  &-image {
    width: 45px;
    height: 45px;
  }
}