@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  transition: 1s;
}

.header {
  display: flex;
  align-items: center;
  max-width: 320px;
  min-height: 100px;
  background-color: #00D4AA;
  margin: auto;
  margin-bottom: 30px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.header-button {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
}

.logo-container {
  width: 200px;
}
.logo-image {
  width: 200px;
}

.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 35px;
  padding: 15px;
}

.title {
  font-size: 25px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  color: #7137C8;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #FFDD55;
  text-align: center;
}

.text {
  margin-bottom: 25px;
  text-align: justify;
}

.list {
  max-width: 300px;
  margin-bottom: 25px;
}
.list-item {
  max-width: 300px;
  margin-left: 30px;
  margin-bottom: 15px;
}
.list-item:before {
  color: #7137C8;
  content: "•";
  padding-right: 10px;
}

.button {
  width: 170px;
  height: 40px;
  border: none;
  background-color: #FFDD55;
  color: #7137C8;
}
.button-container {
  display: flex;
  justify-content: center;
}

.video {
  margin-bottom: 25px;
}

.block-main_text {
  text-align: center;
  color: #7137C8;
}

.section-description {
  background-color: #FFE680;
  padding-bottom: 25px;
}

.title-description {
  color: #00AA88;
}

.block-description-text {
  text-align: left;
  font-size: 15px;
}

.button-description {
  background-color: #7137C8;
  color: #FFDD55;
}

.block-uniqueness {
  display: flex;
  flex-wrap: wrap;
}
.block-uniqueness-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.block-uniqueness-image {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.list-obtaining_item {
  max-width: 290px;
  width: 100%;
  list-style-type: none;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #E8EDFB;
  padding: 10px;
}

.list-content_item {
  list-style-type: none;
  margin-bottom: 20px;
}
.list-content_item-container {
  display: flex;
  margin-bottom: 15px;
}
.list-content_button {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}
.list-content_button-image {
  width: 30px;
  height: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 280px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.textarea {
  width: 280px;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.footer-container_image {
  border-radius: 30px;
}
.footer-image {
  width: 45px;
  height: 45px;
}/*# sourceMappingURL=style.css.map */