// general

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  transition: 1s;
}

// colors

$color-white: #ffffff;
$color-yellow-light: #ffe680;
$color-yellow-dark: #ffdd55;
$color-green-light: #00d4aa;
$color-green-dark: #00aa88;
$color-violet: #7137c8;
$color-black: #1a1a1a;

// modal wrap

.modal_wrap {
  display: none;
  background-color: $color-black;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  position: fixed;
  z-index: 4;
}

.modal_wrap-active {
  overflow: hidden;
}

.frame {
  width: 100%;
  height: 100%;

  &_container {
    width: 90%;
    height: 78%;
    // padding: 20px;
    position: fixed;
    z-index: 8;
    justify-content: center;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: -45px;
    margin: auto;

    @media (max-width: 995px) {
      height: 65%;
    }

    @media (max-width: 750px) {
      height: 45%;
      // left: 15%;
      // top: 30%;
    }

    @media (max-width: 505px) {
      // left: 23%;
      height: 37%;
    }

    @media (max-width: 410px) {
      // left: 10%;
      height: 33%;
    }

    @media (max-width: 340px) {
      height: 30%;
    }
  }
}

// header

.header {
  display: flex;
  align-items: center;
  min-height: 70px;
  width: 100%;
  padding: 0 10px;
  background-color: $color-green-light;
  margin: auto;
  position: fixed;
  z-index: 5;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;

    @media (max-width: 320px) {
    }
  }

  &-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 870px) {
      flex-direction: column;
      margin: 50px 0 20px;
      align-items: center;
    }

    &_item {
      @media (max-width: 870px) {
        margin-bottom: 20px;
      }
    }

    &_link {
      font-family: Open Sans Condensed;
      color: $color-white;
      font-weight: 500;
      font-size: 17px;

      transition: 0.5s;

      &:hover {
        color: $color-violet;
      }

      &:active {
        color: $color-violet;
      }

      @media (max-width: 870px) {
        font-size: 20px;
        letter-spacing: 0.08em;
      }
    }
  }

  &-button_line {
    height: 2px;
    width: 30px;
    background-color: $color-white;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-burger_menu {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;

    @media (max-width: 870px) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      padding: 30px 20px;
      background: $color-green-light;
      position: fixed;
      right: 0;
      top: -100%;
      z-index: 5;
      transition: all 1s ease 0s;
    }
  }

  &-button {
    display: none;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    transition: all 1s;
    @media (max-width: 870px) {
      display: block;
      z-index: 6;
    }
  }

  &-lang {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 50px;
    margin: 0 0 0 50px;
    border: solid 1px $color-yellow-light;
    border-radius: 5px;

    @media (max-width: 870px) {
      margin: auto;
    }

    &_link {
      font-family: Open Sans Condensed;
      color: $color-white;
      text-align: center;
      transition: all 0.5s;

      &:hover {
        color: $color-yellow-light;
      }
    }
  }
}

.burger_menu-active {
  top: 0;
}

.button-active {
  transform: rotate(90deg);
}

.logo {
  &-container {
    height: 70px;
    z-index: 6;
  }

  &-image {
    width: 200px;
  }
}

// section

.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  // margin-bottom: 35px;
  padding: 70px 20px 35px;

  &-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    // margin-bottom: 35px;

    @media (max-width: 768px) {
      margin-bottom: 0px;
    }
  }
}

.title {
  font-size: 60px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  color: $color-violet;

  @media (max-width: 768px) {
    font-size: 40px;
    margin-bottom: 40px;
  }

  @media (max-width: 320px) {
    font-size: 30px;
    margin-bottom: 20px;
  }

  &-green {
    color: $color-green-dark;
  }
}

.subtitle, .subtitle-violet {
  font-family: Open Sans Condensed;
  text-align: center;
  margin: 0 auto 50px;
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 17px;
  }
}

.subtitle {
  color: #1a1a1a;
  background-color: #ffe680;

  &-violet {
    color: #7137c8;
  }
}

.text {
  font-size: 23px;
  line-height: 30px;
  text-indent: 30px;
  margin-bottom: 10px;
  // font-family: 'IBM Plex Sans', sans-serif;

  @media (max-width: 768px) {
    text-align: justify;
    font-size: 17px;
    text-indent: 20px;
    line-height: 27px;
    margin-bottom: 0;
  }

  @media (max-width: 320px) {
    text-align: justify;
    font-size: 15px;
    text-indent: 10px;
  }
}

.list {
  max-width: 1200px;
  width: 100%;
  margin-bottom: 15px;

  &-item {
    max-width: 1200px;
    width: 100%;

    @media (max-width: 768px) {
      max-width: 300px;
      margin-left: 10px;
      margin-bottom: 15px;
    }

    &:before {
      color: $color-violet;
      content: "•";
      padding-right: 10px;
    }

    &-title {
    }
  }
}

.button {
  width: 200px;
  height: 60px;
  border: none;
  background-color: $color-yellow-dark;
  color: $color-violet;
  font-size: 18px;
  transition: 1s;

  &:hover {
    background-color: $color-violet;
    color: $color-yellow-dark;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    width: 170px;
    height: 40px;
    border: none;
    font-size: 13px;
  }

  &-container {
    margin: 50px 0;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
      margin: 40px 0 20px;
    }
  }
}

.video {
  margin-bottom: 25px;
  margin: auto;
}

//  section main

.section-main {
  background: url(../assets/images/background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  height: 100%;
  margin: auto;
  position: relative;
  padding: 0;
  z-index: 2;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $color-yellow-light;
    opacity: 0.1;
    display: block;
    position: absolute;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    min-height: 300px;
    background: url(../assets/images/bg768.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: 320px) {
    
  }

  &_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    margin: auto;
    margin-top: 100px;

    @media (max-width: 768px) {
      min-height: 250px;
      flex-direction: column;
    }
  }
}

.main-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans Condensed;
}

.block-main {
  width: 40%;
  z-index: 3;
  padding: 10px;

  @media (max-width: 768px) {
    width: 100%;
  }

  &_schedule {
    @media (max-width: 768px) {
      background-color: $color-white;
      padding-bottom: 30px;
    }
  }
}

.block-main_subtitle {
  font-size: 40px;
  text-align: center;
  color: $color-yellow-dark;
  margin: 150px 0 30px;

  @media (max-width: 768px) {
    margin: 30px 0 20px;
    font-size: 25px;
    color: $color-violet;
  }

  @media (max-width: 320px) {
    // font-size: 16px;
    color: $color-violet;
  }
}

.block-main_text,
.block-main_data {
  font-size: 22px;
  font-family: Open Sans Condensed;
  margin-bottom: 15px;
  text-align: center;
  color: $color-white;

  @media (max-width: 768px) {
    font-size: 18px;
    color: $color-green-dark;
  }
}

.block-main_data {
  max-width: 250px;
  background-color: $color-yellow-light;
  color: $color-violet;
  margin: auto;
}

.title-main {
  font-size: 70px;
  line-height: 80px;
  color: $color-yellow-dark;
  margin-top: 30px;

  @media (max-width: 768px) {
    font-size: 40px;
    line-height: 40px;
  }

  // @media (max-width: 320px) {
  //   font-size: 30px;
  // }
}

.subtitle-main {
  font-size: 30px;
  margin-bottom: 100px;
  color: $color-white;
  background: none;

  @media (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 50px;
  }

  @media (max-width: 320px) {
    font-size: 15px;
    margin-bottom: 30px;
  }
}

// description

.section-description {
  width: 100%;
  background-color: $color-yellow-light;

  @media (max-width: 320px) {
    padding-bottom: 25px;
  }

  &_container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
}

.title-description {
  color: $color-green-dark;
}

.block-description {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  row-gap: 55px;
  column-gap: 40px;

  @media (max-width: 768px) {
    row-gap: 20px;
  }

  &_subtitle {
    font-size: 20px;
    font-weight: 600;
    color: $color-green-dark;
  }

  &_text {
    max-width: 580px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 7px;

    @media (max-width: 1024px) {
      text-align: justify;
    }

    &-container {
      margin: auto;
    }
  }

  &_container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &_container-image {
    margin: auto;
    // @media (max-width: 1024px) {
    //   width: 95%;
    //   margin: auto;
    // }
  }

  &_image {
    border: solid $color-green-light 4px;
    border-radius: 10px;
    max-width: 580px;
    width: 100%;

    // @media (max-width: 1024px) {
    //   max-width: 100%;
    // }
  }
}

.block-description_text,
.block-description_subtitle {
  @media (max-width: 768px) {
    font-size: 17px;
    line-height: 23px;
  }
}

.button-violet {
  background-color: $color-violet;
  color: $color-yellow-dark;
  border: $color-violet solid 2px;
  transition: 1s;

  &:hover {
    background-color: $color-yellow-light;
    color: $color-violet;
  }
}

// uniqueness

.section-uniqueness {
  max-width: 1200px;
  margin: auto;
}

.block-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 60px;

  @media (max-width: 768px) {
    row-gap: 40px;
  }


  &-item {
    max-width: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin-bottom: 20px;
    }
  }

  &-text {
    max-width: 240px;
    font-size: 17px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 15px;
    }
  }

  &-container_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: $color-yellow-dark;
    margin-bottom: 25px;

    @media (max-width: 768px) {
      width: 55px;
      height: 55px;
    }
  }

  &-image {
    width: 40px;
    height: 40px;

    @media (max-width: 768px) {
      width: 30px;
      height: 30px;
    }
  }

  &-button {
    background: none;
    border: $color-yellow-dark solid 2px;
    color: $color-black;
    transition: 1s;

    &:hover {
      background-color: $color-yellow-dark;
      color: $color-black;
      cursor: pointer;
    }
  }
}

.item-uniqueness_inactive {
  display: none;
}

.button-uniqueness-active {
  background-color: $color-yellow-dark;

  &:hover {
    background: none;
    cursor: pointer;
  }
}

// obtaining

.section-obtaining {
  background-color: $color-yellow-light;
}

.title-obtaining {
  color: $color-green-dark;
}

.block-obtaining-button {
  background-color: $color-white;
  color: $color-black;
  border: $color-green-dark solid 2px;
  transition: 1s;

  &:hover {
    background-color: $color-green-dark;
    cursor: pointer;
  }
}

.button-obtaining-active {
  background-color: $color-green-dark;

  &:hover {
    background: $color-white;
    color: $color-green-dark;
    cursor: pointer;
  }
}

// .container_image-obtaining {
//   background-color: $color-white;
// }

.item-obtaining {
  height: 243px;
  background: $color-white;
  border: $color-green-dark solid 4px;
  border-radius: 10px;
  padding: 10px;

  @media (max-width: 768px) {
    height: 195px;
  }
}

.item-obtaining_inactive {
  display: none;
}

// section surliness

.section-surliness {
  max-width: 1200px;
}

.slider {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  min-height: 300px;
  margin: auto;

  @media (max-width: 700px) {
    max-width: 700px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-content {
    text-align: center;

    @media (max-width: 700px) {
      max-width: 700px;
      min-height: 200px;
      order: 1;
      
    }
  }

  &-button-img {
    width: 30px;
    height: 30px;

    @media (max-width: 700px) {
      width: 25px;
      height: 25px;
    }
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: none;
    border: $color-yellow-light solid 3px;
    margin: 15px;
    border-radius: 50px;
    background-color: $color-yellow-light;
    transition: 1s;

    &:hover {
      background-color: white;
      cursor: pointer;
    }

    @media (max-width: 700px) {
      margin: 10px;
      width: 50px;
      height: 50px;
    }
  }

  &-button-prev {
    @media (max-width: 700px) {
      order: 2;
    }
  }

  &-button-next {
    @media (max-width: 700px) {
      order: 3;
    }
  }

  &-container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    min-height: 500px;
    object-fit: cover;
    margin: auto;
    margin-bottom: 25px;

    @media (max-width: 1150px) {
      max-width: 1000px;
      width: 100%;
    }

    @media (max-width: 768px) {
      min-height: 150px;
    }
  }

  &-image {
    width: 100%;
  }

  &-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      font-size: 17px;
      margin-bottom: 10px;
    }

    @media (max-width: 320px) {
      font-size: 15px;
    }
  }

  &-text {
    max-width: 900px;
    font-size: 19px;
    min-height: 45px;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 700px) {
      min-height: 25px;
    }

    @media (max-width: 320px) {
      font-size: 15px;
    }
  }
}

// section project

.section-project {
  background-color: $color-yellow-light;
}

.title-project {
  color: $color-green-dark;
}

.block-project-text {
  background-color: #00d4aa;
  color: white;
  text-align: center;

  @media (max-width: 768px) {
    line-height: 22px;
  }
}

// section joining

.item-joining {
  background: $color-white;
  border: $color-yellow-dark solid 4px;
  border-radius: 10px;
  padding: 10px;
}


// who

.section-who {
  background-color: $color-yellow-light;
}

.item-who {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 108px;
  background: $color-white;
  border: $color-green-dark solid 4px;
  border-radius: 10px;

  @media (max-width: 768px) {
    height: 95px;
  }
}

// section price

.section-price {
  background-color: $color-yellow-light;
}

// section author

.section-author {
  max-width: 1200px;
}

.block-author {
  max-width: 580px;
  margin: auto;
  
  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
  // margin: auto;

  &_content {
    max-width: 580px;
    margin: auto;
  }

  &_container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &_text {
    font-size: 21px;
    margin-bottom: 0px;
    line-height: 29px;
    margin-bottom: 0;
    text-align: justify;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 25px;
    }
  }

  &_image {
    width: 100%;
    margin-right: 10px;
    border: solid 4px #00d4aa;
    border-radius: 5px;

    @media (max-width: 768px) {
      
    }
  }
}

// section content

.section-content {
  max-width: 1200px;
}

.subtitle-content {
  font-size: 40px;
  text-align: center;
  color: $color-yellow-dark;
  margin-bottom: 20px;

  @media (max-width: 320px) {
    font-size: 16px;
    color: $color-violet;
  }
}

.list-content {
  &_item {
    list-style-type: none;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }

    &-container {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      gap: 30px;

      @media (max-width: 768px) {
        gap: 20px;
      }
    }
  }

  &_video {
    // display: flex;
    justify-content: center;
    display: none;
    justify-content: center;
    align-items: center;
    width: 952px;
    height: 552px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    // position: relative;
    position: fixed;
    z-index: 8;

    @media (max-width: 995px) {
      width: 682px;
      min-height: 402px;
    }

    @media (max-width: 750px) {
      width: 400px;
      margin: 10px;
      max-height: 400px;
      left: 15%;
      top: 30%;
    }

    @media (max-width: 505px) {
      left: 23%;
    }

    @media (max-width: 410px) {
      left: 10%;
    }

    @media (max-width: 340px) {
      left: 5%;
    }
  }

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    background-color: $color-yellow-light;
    border: none;
    border-radius: 5px;
    // margin-right: 15px;
    cursor: pointer;
    flex-shrink: 0;

    @media (max-width: 768px) {
      width: 42px;
      height: 33px;
    }

    &-image {
      width: 30px;
      height: 30px;

      @media (max-width: 768px) {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.text-content {
  text-indent: 0px;
  // margin-left: 15px;
  margin-bottom: 0;
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 15px;
    line-height: 17px;
  }
}

.tabs__items {
  display: flex;
}

.tabs__item {
  width: 33.33%;
  text-align: center;
  // border: solid $color-black 1px;
  border: none;
  border-bottom: solid $color-yellow-dark 1px;
  transition: 1s;
  min-height: 50px;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: none;
  font-weight: 400px;
  color: $color-violet;

  &:hover {
    background-color: $color-yellow-light;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    min-height: 40px;
    font-size: 15px;
  }

}

.tabs__body {
  height: 100%;
  // border: solid $color-black 1px;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 25px 0 0;
}

.tabs__block {
  display: none;

  &-active {
    display: block;
  }
}

// contact

.section-contact {
  background-color: $color-yellow-light;
  margin-bottom: 0;
}

.block-contact_text {
  margin: auto;
  margin-bottom: 25px;
  max-width: 600px;
  text-align: center;
  color: #7137c8;
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  font-family: Open Sans Condensed;

  @media (max-width: 768px) {
    max-width: 280px;
    font-size: 14px;
    line-height: 23px;
  }
}

.textarea, .input {
  box-shadow: rgba(80, 34, 34, 0.2) 0px 5px 10px 2px;
  background-color: $color-yellow-light;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 600px;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 10px;
 
  border: $color-violet solid 3px;
  font-size: 20px;

  @media (max-width: 768px) {
    width: 280px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
  }
}

.textarea {
  width: 600px;
  height: 300px;
  margin-bottom: 15px;
  padding: 10px;
  border: $color-violet solid 3px;
  font-size: 20px;

  @media (max-width: 768px) {
    width: 280px;
    height: 200px;
    font-size: 15px;
  }
}

// footer

.footer {
  // min-height: 100px;
  background-color: $color-green-light;
  display: flex;
  // max-width: 1200px;
  min-height: 100px;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;

    @media (max-width: 700px) {
      flex-direction: column;
      min-height: 200px;
      padding: 20px 0;
    }
  }

  &-text {
    margin-right: 5px;
    font-size: 20px;
    color: $color-violet;
    font-family: "Open Sans Condensed";
  }

  &-content {
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &_container-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    width: 100%;

    @media (max-width: 700px) {
      margin: 25px 0 35px;
      max-width: 280px;
    }
  }

  &-link {
    font-size: 20px;
    color: $color-violet;
    margin: 0 2px;
    font-family: "Open Sans Condensed";

    &:hover {
      color: $color-yellow-light;
      transition: all 1s;
    }
  }

  &-container_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: $color-yellow-light;
    border-radius: 30px;

    &:hover {
      background-color: $color-violet;
      transition: all 1s;
    }

    @media (max-width: 700px) {
      width: 45px;
      height: 45px;
    }
  }

  &-image {
    width: 20px;
    height: 20px;

    @media (max-width: 700px) {
      width: 25px;
      height: 25px;
    }
  }
}
